<mat-sidenav [mode]="'side'" opened class="sidenav">
    <mat-nav-list role="list">        
        <mat-list-item role="listitem" routerLink="/featured">
            <div class="list-item mt-3">
                <mat-icon mat-list-icon color="accent">dashboard</mat-icon>
                <p matLine style="margin-left: 10px; color: white;">Home</p>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/subscriptions">
            <div class="list-item mt-3">
                <mat-icon mat-list-icon color="accent">subscriptions</mat-icon>
                <p matLine style="margin-left: 10px; color: white;">Subscriptions</p>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/history">
            <div class="list-item mt-3">
                <mat-icon mat-list-icon color="accent">history</mat-icon>
                <p matLine style="margin-left: 10px; color: white;">History</p>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/liked-video">
            <div class="list-item mt-3">
                <mat-icon mat-list-icon color="accent">thumb_up</mat-icon>
                <p matLine style="margin-left: 10px; color: white;">Liked Video</p>
            </div>
        </mat-list-item>
    </mat-nav-list>
</mat-sidenav>
