.video-card {
    cursor: pointer;
    max-width: 400px;
    width: 250px;
    height: 300px;
  }
  
  .user-image {
    background-image: url('../../assets/VID_e122677a-6664-46d7-9b4e-762f57634d9c.jpg');
    background-size: cover;
  }

  img {
    width: 250px;
    height: 150px;
  }