<div fxLayout="row" class="container-video-player">
    <div *ngIf="videoUrl" fxFlex="65%" class="video-details" >
        <app-video-player [videoUrl]="videoUrl" [videoHeight]="500" style="padding: 0px;"></app-video-player> 

        <div fxLayout="row" class="description-video">
            
            <div fxFlex="50%" class="header-title">
                <div class="title">
                    <span class="video-title">{{videoTitle}}</span>
                </div>
                <span class="view-count">{{videoViewCount}} views </span>
                <span class="dot"></span>
                <span class="video-upload-date"> 5th December 2023</span>
            </div>
            <div fxFlex="50%"  fxLayoutAlign="end center">
                <div class="like-dislike-section">
                    <button mat-flat-button class="thumbs-up" color="basic" (click)="likeVideo()">
                        <mat-icon color="primary"> {{isLikeVideo ? 'thumb_up_off' : 'thumb_up_off_alt'}} </mat-icon> 
                        <span>{{videoLikes}}</span>
                    </button>
                    <button mat-flat-button class="thumbs-down" color="basic" (click)="dislikeVideo()">
                        <mat-icon color="warn">{{isDislikeVideo ? 'thumb_down_off' : 'thumb_down_alt'}} </mat-icon>
                        <span>{{videoDislikes}}</span> 
                    </button>
                </div>
            </div>
        </div>

        <mat-card class="card-container">
            <mat-card-header class="mb-1">
                <div class="title-subtitle">
                    <mat-card-title>Fuji chanel</mat-card-title> 
                    <mat-card-subtitle class="subtiltes">{{userSubscribers}} Subscribers</mat-card-subtitle>
                </div>
                <button *ngIf="showSubscribeButton" class="subscribe-button" mat-fab extended color="accent" (click)="subscribeToUser()">Subscribe</button>
                <button *ngIf="showUnSubscribeButton" class="subscribe-button-clicked" mat-fab extended color="primary" (click)="unSubscribeToUser()">Subscribed</button>
            </mat-card-header>
            <div class="ms-3 mb-2">{{videoDescription}}</div>
            <!--mat-chip-listbox class="mt-3 mb-3 ms-2" >
                <mat-chip-option *ngFor="let tag of videoTags">
                    {{tag}} 
                </mat-chip-option>
            </mat-chip-listbox-->

        </mat-card>
        
    </div>
    <div fxFlex="5%">

    </div>
    <div fxFlex="30%">
        
    </div>
</div>

