<div class="modalee">
	<div class="modal-header">
		<div class="modal-logo">
			<span class="logo-circle">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="419.116" viewBox="0 0 512 419.116">
					<defs>
						<clipPath id="clip-folder-new">
							<rect width="512" height="419.116" />
						</clipPath>
					</defs>
					<g id="folder-new" clip-path="url(#clip-folder-new)">
						<path id="Union_1" data-name="Union 1"  fill="var(--c-action-primary)" stroke="" stroke-width="1" />
					</g>
				</svg>
			</span>
		</div>
		<button class="btn-close">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="var(--c-text-secondary)"/></svg>
		</button>
	</div>
	<div class="modal-body">
		<h2 class="modal-title">Upload a file</h2>
		<p class="modal-description">Attach the file below</p>
		<button class="upload-area">
			<span class="upload-area-icon">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="340.531" height="419.116" viewBox="0 0 340.531 419.116">
  <g id="files-new" clip-path="url(#clip-files-new)">
    <path id="Union_2" data-name="Union 2"  transform="translate(2944 428)" fill="var(--c-action-primary)"/>
  </g>
</svg>
			</span>
			<span class="upload-area-title">Drag file(s) here to upload.</span>
			<span class="upload-area-description">
				Alternatively, you can select a file by <br/><strong>clicking here</strong>
			</span>
		</button>
	</div>
	<div class="modal-footer">
		<button class="btn-secondary">Cancel</button>
		<button class="btn-primary">Upload File</button>
	</div>
</div>

<p>bonjour</p>