
<div class="center m-4">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
  
            Drag and Drop videos in this secton (or)
            <button class="btn btn-primary ms-2" type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-upload" >
        <button mat-fab extended color="accent" *ngIf="this.fileUploaded" (click)="uploadVideo()">Upload video</button>
    </div>
</div>