
<div class="center m-4">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
  
            <span>Drag and Drop videos in this secton (or)</span>
            <button class="btn ms-2" type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-name">
        <div *ngFor="let item of files; let i=index">
            <strong style="color: white;">{{ item.relativePath }}</strong>
        </div>
    </div>
    <div class="button-upload" >
        <button mat-fab extended color="accent" *ngIf="this.fileUploaded" (click)="uploadVideo()">Upload video</button>
    </div>
</div>