.upload-table {
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-upload {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn { 
    background: #f87171;
    color: #f5f5f4
}

span {
    color: #fb923c;
}

.upload-name {
    display: flex;
    justify-content: center;

    margin: 2rem 2rem;
}