.spacer {
    flex: 1 auto;
}

.login-button {
    height: 40px;
}

.logo-button {
    height: 40px;
    background: #ec4899;
}

.toolbar {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.video-call {
    color: #f3e8ff;
}

.notifications {
    color: #f3e8ff;
}

.account {
    color: #f3e8ff;
}